.footer-img {
  width: 2rem;
  height: auto;
}

.delivery-img {
  max-width: 100px;
  width: 100%;
}

img {
  margin-bottom: 2rem;
}

.postnord {
  padding-left: 0.5rem;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}
