.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #000000;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #818181;
  color: white;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #446e9b;
  color: white;
  text-decoration: none;
}

div.content {
  margin-left: 150px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    text-align: center;
    float: none;
  }

  div.content {
    margin-left: 0;
  }
}
